*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(204, 204, 204);
  font-family: Arial, Helvetica, sans-serif
}

.container{
  background-color: white;
  width: 95%;
  max-width: 800px;
  margin: 40px auto;
  border-radius: 5px;
}

/* BOTTONI */
.btn{
 border: none;
 padding: 5px 10px;
 border-radius: 5px;
 cursor: pointer;
}

.btn.btn-filled{
  background-color: #47ADF1;
  color: white;
  border: 1px solid #47ADF1;
}

.btn.btn-empty{
  background-color: white;
  border: 1px solid lightgray;
}

/* CIRCLE */
.circle::before{
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
  font-size: .8rem;
}

li .circle.checked::before{
  content: '\2713';
  color: green;
  border-color: green;
}

li .circle.unchecked::before{
  content: '\2715';
  color: red;
  border-color: red;
}

/* BADGE */
.badge{
  color: white;
  border-radius: 10px;
  font-size: .7rem;
  padding: 5px 8px;
}

.badge.editorial{
  background-color: #47ADF1;
}

.badge.mobile{
  background-color: #f19947;
}

.badge.q1{
  background-color: #88199e;
}

.badge.recruiting{
  background-color: #0e6b1a;
}

.badge.sales{
  background-color: #39e616;
}

.badge.website{
  background-color: #e074bc;
}



/* HEADER */
header{
  background-color: white;
  height: 70px;
  padding: 10px 20px;
}

header img{
  height: 100%;
  vertical-align: middle;
}

header .logo-text{
  font-weight: 900;
  font-size: 40px;
  vertical-align: middle;
}

/* MAIN */
.container .top{
  padding: 20px 40px;
  border-bottom: 1px solid gray;
}

.container .tasks{
  padding: 40px;
}

.tasks ul{
  list-style: none;
  margin-bottom: 15px;
}

.tasks ul li{
  margin-bottom: 15px;
}

.tasks ul h3{
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.tasks ul h3::before{
  content: '\25BE';
  padding-right: 10px;
}

